:root {
  --padding: 40px;

  --font-title: 40px;
  --font: 20px;
  --text-color: #ffffff;
  --text-hover-color: #9cb9f8;

  --shadow: #bfd4ff;
  --decor-color: #000000;
  --inactive-color: #969595;

  --background-color: #000000;
}

@font-face {
  font-family: "PermanentMarker";
  src: url("../assets/fonts/PermanentMarkerRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "GloriaHallelujah";
  src: url("../assets/fonts/GloriaHallelujahRegular.ttf");
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "GloriaHallelujah", sans-serif;
  font-size: var(--font);
  color: var(--text-color);

  background-color: var(--background-color);
}

.container {
  width: calc(100% - 2 * var(--padding));
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.main {
  position: relative;

  height: calc(100vh - 160px);

  background: linear-gradient(to top left, #c1c0fd, #53d4ca);
}

.main__container {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: inherit;
}

.button {
  width: 180px;
  height: 55px;

  font-size: inherit;
  color: var(--decor-color);

  background-color: #ffffff;

  border: 3px solid var(--decor-color);
  border-radius: 30px;

  outline: none;

  transition: 0.7s;
}

.button:hover {
  box-shadow: inset 0 0 8px 3px var(--shadow);
  cursor: pointer;
}

.button__reset--inactive {
  color: var(--inactive-color);

  background-color: #f2f2f2;
  border: 3px solid var(--inactive-color);
}

.button__reset--inactive:hover {
  box-shadow: inset 0 0 8px 3px transparent;
  cursor: default;
}

.button__play {
  width: 250px;
  height: 250px;

  font-size: 35px;

  border: 6px solid var(--decor-color);
  border-radius: 200px;
}

.button__play:hover {
  box-shadow: inset 0 0 20px 10px var(--shadow);
}

.game__container {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 13;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;

  transform: translate(-50%, -50%);

  animation: opacity 0.7s;
}

.game-field {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  height: 360px;
  margin-bottom: 30px;

  font-family: "PermanentMarker", sans-serif;
  font-size: 70px;
  color: inherit;

  animation: opacity 0.7s;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;

  color: inherit;

  transition: 0.7s;
}

.cell:nth-child(n + 1):nth-child(-n + 3),
.cell:nth-child(n + 4):nth-child(-n + 6){
  border-bottom: 3px solid var(--decor-color);
}

.cell:nth-child(n+4):nth-child(-n + 6),
.cell:nth-child(n+7) {
  border-top: 3px solid var(--decor-color);
}

.cell:nth-child(3n+1),
.cell:nth-child(3n+2) {
  border-right: 3px solid var(--decor-color);
}

.cell:nth-child(3n+2),
.cell:nth-child(3n+3) {
  border-left: 3px solid var(--decor-color);
}

.cell:hover {
  cursor: pointer;
  background-color:rgba(255, 255, 255, 0.2);
}

.cell--inactive:hover {
  cursor: default;
  background-color: transparent;
}

.cell.winner {
  color: #abffce;
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  animation: opacity 0.7s;
}

.button__history {
  margin-right: 40px;
}

.sound {
  width: 50px;
  height: 50px;
}

.sound:hover {
  cursor: pointer;
}

.blackout {
  position: absolute;
  z-index: 14;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  
  background-color: rgba(0, 0, 0, 0.5);

  animation: opacity 0.7s;
}

.pop-up {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  padding: 0 20px;

  color: var(--decor-color);

  background-color: #ffffff;

  border: 6px solid #000000;
  border-radius: 350px;
  
  transform: translate(-50%, -50%);

  animation: opacity 0.7s;
}

.pop-up__message {
  text-align: center;
}

.history {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 15;

  width: 450px;
  height: auto;
  padding: 0 20px 20px;

  color: var(--decor-color);

  background-color: #ffffff;
  border: 6px solid var(--decor-color);
  border-radius: 20px;

  transform: translate(-50%, -50%);

  animation: opacity 0.5s;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.history__button-close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 28px;
  height: 28px;

  transition: 0.7s;
}
  
.history__button-close:before, .history__button-close:after {
  position: absolute;
  content: ' ';
  left: 12px;
  top: -3px;

  height: 35px;
  width: 3px;
  background-color: var(--decor-color);
}

.history__button-close:before {
  transform: rotate(45deg);
}

.history__button-close:after {
  transform: rotate(-45deg);
}

.history__button-close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.history__header {
  text-align: center;
}

.history__record {
  margin-bottom: 10px;
}

.history__record:last-child {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.hide-animation {
  animation: noneOpacity 0.5s forwards;
}

@keyframes noneOpacity {
  0% {
    opacity: 1;
  }
  99.9% {
    opacity: 0;
  }
  100% {
    z-index: -1;
  }
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding: 10px 0;
} 

.author {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 20px;
}

.github {
  display: flex;
  align-items: center;
  height: 100%;

  color: inherit;
  text-decoration: none;

  transition: color 0s;
}

.github:hover {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
	background-image: linear-gradient(90deg, #c1c0fd, #53d4ca);

  transition: 0.7s;
}

.rss__logo {
  display: block;
  width: 135px;
  height: 50px;
}

.rss__logo .right,
.rss__logo .left {
  transition: 0.7s;
}
.rss__logo:hover .left {
  stop-color: #c1c0fd;
}

.rss__logo:hover .right {
  stop-color: #53d4ca;
}

@media (max-width: 768px) {
  .footer__container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}