:root {
  --background-color: #000000;

  --main-text-color: #ffffff;
  --title-color: #bdae82;
  --hover-color: #bdae82;
  --hover-text-btn-color: #ffffff;
  --text-btn-color: #000000;
  --text-active-btn-color: #bdae82;
 
  --decoration-color: #bdae82;

  --font1: 60px;
  --font2: 40px;
  --font3: 20px;

  --padding: 19px;
}

@font-face {
  font-family: "MerriweatherBold";
  src: url("../assets/fonts/MerriweatherBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "MerriweatherRegular";
  src: url("../assets/fonts/MerriweatherRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/InterVariableFont.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
   
  font-family: "Inter";
  font-size: var(--font3);
  line-height: 40px;
  color: var(--main-text-color);

  background-color: var(--background-color);
}

.page__container {
  position: relative;

  overflow-x: hidden;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

.container_space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  position: absolute;
  width: 100%
}

.header__container {
  height: 90px;

  transition: 0.7s;
}

.icon {
  fill: var(--main-text-color);

  transition: 0.7s;
}

.icon:hover {
  fill: var(--hover-color);
  cursor: pointer;
}

.logo__icon {
  display: block;
  width: 50px;
  height: 50px;
}

.nav {
  margin-left: auto;
}

.nav__list,
.footer__list {
  display: flex;
  margin: 0;
  padding: 0px;
  
  list-style: none;
}

.nav__item {
  padding-left: 30px;
}

.nav__item:last-child {
  padding-right: 35px;
}

.link {
  line-height: 50px;
  font-weight: 400;
  color: var(--main-text-color);
  text-decoration: none;

  transition: 0.7s;
}

.link:hover {
  color: var(--hover-color);
}

.header__lang {
  margin-right: 35px;
}

.lang {
  font-weight: 700;
  letter-spacing: 4px;
}

.them-button,
.lang__button {
  padding: 0;

  color: inherit;
  font-weight: inherit;

  background-color: transparent;
  border: none;

  outline: none;
}

.lang__button:hover,
.lang__button_active {
  color: var(--hover-color);

  transition: 0.7s;

  cursor: pointer;
}

.them-button__icon {
  display: block;
  width: 45px;
  height: 45px;
}

.humburger {
  z-index: 20;
  
  display: none;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px; 
}

.humburger:hover {
  cursor: pointer;
}

.humburger:hover .line {
  background-color: var(--hover-color);
}

.line {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 9px;

  background-color: var(--main-text-color);

  transition: all 0.5s ease-in-out;
}

.line:last-child {
  margin-bottom: 0;
}

.main {
 margin-bottom: auto;
}

.section {
  padding-top: 100px;
  transition: 0.4s linear;
}

.hero__container {
  background-image: url('../assets/img/bg.jpg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__section {
  min-height: 500px;
  padding-top: 250px;
  padding-left: 60px;
  padding-bottom: 23.5%; 
}

.hero__content {
 max-width: 500px;
 padding-right: 30px;
}

.title__container {
  width: 50%;
  margin: 0 auto;
}

.title {
  margin: 0;
  margin-bottom: 40px;

  font-family: "MerriweatherBold";
  font-size: var(--font2);
  line-height: 80px;
  font-weight: 700;
  color: var(--title-color);
}

.title_big {
  margin-bottom: 10px;

  font-size: var(--font1);
  line-height: 120px;
  color: var(--main-text-color);
} 

.title_center {
  display: flex;
  margin-bottom: 60px;
  align-items: center;
  justify-content: center;
}

.title_center::before,
.title_center::after {
  content: '';

  width: 100%;
  height: 2px;
  
  background-color: var(--title-color);
}

.title_center::before {
  margin-right: 21px;
}

.title_center::after {
  margin-left: 21px;
}

.hero__text {
  margin-bottom: 25px;
}

.button {
  width: 220px;
  height: 55px;

  line-height: 40px;
  
  border: none;

  transition: 0.7s;
}

.main__button,
.price__button {
  color: var(--text-btn-color);
  background-color: var(--decoration-color);
}

.button:hover {
  color: var(--hover-text-btn-color);
  cursor: pointer;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__item {
  width: 320px;
  padding: 100px 19px 10px;

  text-align: center;

  background-position: center top;
  background-repeat: no-repeat;

  transition: 0.7s;
}

.skills__item:nth-child(1) {
  background-image: url("../assets/svg/camera.svg");
  background-size: 62px 50px;
}

.skills__item:nth-child(2) {
  background-image: url("../assets/svg/video.svg");
  background-size: 60px 50px;
}

.skills__item:nth-child(3) {
  background-image: url("../assets/svg/image.svg");
  background-size: 66px 50px;
}

.skills__item:nth-child(4) {
  background-image: url("../assets/svg/mic.svg");
  background-size: 32px 50px;
}

.skills__text_bold {
  font-weight: 700;
  letter-spacing: 0.5px;
}

.text_small {
  margin-bottom: 0;

  font-size: 18px;
  line-height: 36px;
}

.skills__text_small {
  margin-top: 21px;
}

.button__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

.portfolio__container {
  margin-bottom: 60px;
}

.portfolio__button {
  color: var(--text-active-btn-color);

  background-color: transparent;
  border: 2px solid var(--decoration-color);
}

.portfolio__button_active {
  color: var(--text-btn-color);

  background-color: var(--decoration-color);
}

.gallery__container,
.price__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.video {
  position: relative;
  max-height: 705px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;
}

.video__poster {
  width: calc(100% + 44px);
  height: auto;
  margin-top: -2px;
  margin-right: 4px;
}

.video__button {
  position: absolute;
  
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.video__icon {
  display: block;
  width: 9.4%;
  height: 9.4%;
}

.price__section {
  padding-bottom: 100px;
}

.price__card {
  width: 450px;
  padding: 40px 0;

  text-align: center;

  border: 3px solid var(--decoration-color);
}

.title_middle {
  margin-bottom: 20px;

  font-size: 28px;
  line-height: 56px;
  color: var(--main-text-color);
  text-align: center;
}

.price__dollars {
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 48px;
  text-align: center;
  color: var(--title-color);
}

.price__item {
  display: block;
}

.price__item:nth-child(7) {
  margin-bottom: 40px;
}

.contacts__section {
  min-height: 600px;
  padding-top: 60px;
  padding-bottom: 13.9%;
}

.contacts__container {
  background: url('../assets/img/contacts.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts__block {
  width: 450px;
  margin-left: auto;
}

.contacts__form {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.contacts__entry-field {
  width: 100%;
  margin-bottom: 19px;
  padding: 2px 18px;
  
  line-height: 40px;
  color: var(--title-color);
  
  background: rgba(0, 0, 0, 0.5);
  border: 3px solid var(--decoration-color);
  outline: none;
}

.contacts__entry-field_big {
  height: 100px;
  margin-bottom: 31px;

  resize: none;
}

::placeholder {
  font-family: inherit;
  font-size: var(--font3);
  color: var(--title-color);
}

.footer__container {
  height: 150px;
}

.footer__icon {
  display: block;
  width: 32px;
  height: 32px;
}

.footer__item {
  padding: 9px 20px 9px 0;
}

.footer__item:last-child {
  padding-right: 0;
}

.footer__text {
  padding-right: 21px;
}

.github {
  padding-right: 13px;
}

/* light theme start */
.page.light-theme {
  --background-color: #ffffff;
  --main-text-color: #1c1c1c;
  --title-color: #1c1c1c;
}

.header.light-theme {
  --hover-color: #ffffff;
}

.hero__container.light-theme {
  background-image: url(../assets/img/bg-light.jpg);
}

.main__button.light-theme {
  --decoration-color: #ffffff;
}

.portfolio__button.light-theme {
  --text-active-btn-color: #1c1c1c;

  background-color: var(--decoration-color);
}

.portfolio__button_active.light-theme {
  --text-btn-color: #bdae82;
  background-color: #1c1c1c;
}

.main__button.light-theme:hover,
.portfolio__button.light-theme:hover,
.portfolio__button_active.light-theme:hover,
.price__button.light-theme:hover {
  --hover-text-btn-color: #bdae82;
  background-color: #1c1c1c;
}

.portfolio__button.light-theme:hover,
.portfolio__button_active.light-theme:hover {
  border: 2px solid #1c1c1c;
}

.contacts__container.light-theme {
  background: url(../assets/img/contacts-light.jpg);
}

.contacts__entry-field.light-theme {
  background: rgba(255, 255, 255, 0.5);
}
/* light theme end */

@media (max-width: 1440px) {
  .skills {
    padding: 0 20px 27px;
    row-gap: 36px;
    justify-content: space-evenly;
  }
}

@media (max-width: 1024px) {
  .nav__item {
    padding-left: 15px;
  }

  .nav__item:last-child {
    padding-right: 20px;
  }

  .header__lang {
    margin-right: 20px;
  }

  .hero__section { 
    padding-top: 22.1%;
  }
}

@media (max-width: 768px) {
  :root {
    --font1: 32px;
    --font2: 32px;
    --padding: 0;
  }

  .page {
    line-height: 24.2px;
  }

  .shadow.open {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    z-index: 5;
  
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__container {
    padding: 0 64px 0 60px;
  }

  .header__lang {
    margin-left: auto;
    margin-right: 30px;
  }

  .humburger {
    display: flex;
  }

  .humburger.open {
    position: fixed;
    right: 62px;
    top: 20px;
  }

  .open .line {
    width: 61px;
    height: 2px;
    margin-left: -5px;
  }

  .open .line:nth-child(2){
    opacity: 0;
  }
  
  .open .line:nth-child(1){
    transform: translateY(12px) rotate(45deg);
  }
  
  .open .line:nth-child(3){
    transform: translateY(-12px) rotate(-45deg);
  }

  .humburger.open:hover  .line {
    --hover-color: #bdae82;
  }

  .nav {
    position: fixed;
    top: 0;
    right: -620px;
    z-index: 10;
    
    width: 620px;
    height: 100vh;
    padding-top: 134px;
    padding-left: 97px;
    
    background-color: var(--background-color);

    transition: 0.7s;
  }

  .nav__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .nav__link {
    font-size: 35px;
    line-height: 72.55px;
  }

  .nav__link:hover {
    --hover-color: #bdae82;
  }

  .nav.open {
    right: 0;
  }

  .them-button {
    margin-right: 30px;
  }

  .section {
    padding-top: 80px;
  }

  .hero__section {
    height: 590px;
    padding-top: 21.8%;
    padding-left: 60px;
  }
  
  .hero__container {
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  .hero__content {
    max-width: 420px;
  }

  .hero__text {
    margin-bottom: 60px;
  }

  .title__container {
    width: 47.5%;
  }

  .title {
    line-height: 64px;
  }

  .title_big {
    margin-bottom: 20px;
  
    font-family: "MerriweatherRegular";
    line-height: 64px;
    font-weight: 400;
  } 

  .title_center {
    margin-bottom: 50px;
    line-height: 80px;
  }

  .title_middle {
    line-height: 56px;
  }

  .skills__section {
    padding-bottom: 13px;
  }

  .skills__item {
    width: 300px;
    padding: 80px 10px 40px;
  }

  .skills__text_bold {
    line-height: 40px;
  }

  .skills__text_small {
    margin-top: 21px;

    line-height: 21.78px;
  }
  
  .button__container {
    justify-content: center;
  }

  .portfolio__container {
    margin: 0 auto 60px;
  }

  .video {
    max-height: 418px;
  }

  .video__icon {
    width: 8.6%;
    height: 8.6%;
  }

  .price__section {
    padding-bottom: 80px;
  }

  .price__container {
    gap: 50px;
  }

  .price__card {
    width: 420px;
  }

  .price__dollars {
    line-height: 48px;
  }

  .contacts__section {
    padding-top: 60px;
  }
  
  .contacts__block {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
  }

  .contacts__title {
    text-align: center;
  }

  .contacts__form {
    align-items: center;
  }

  .footer__container {
    display: flex;
    height: 190px;
    padding-top: 14px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer__author-block {
    margin-bottom: -10px;
  }

  .github {
    padding-right: 0;
  }

  .link__rs {
    margin-bottom: 6px;
  }
}

@media (max-width: 620px) {
  .nav {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .header__container {
    padding: 0 20px;
  }

  .header__lang {
    margin-right: 15px;
  }

  .them-button {
    margin-right: 15px;
  }

  .humburger.open {
    right: 18px;
  }

  .nav {
    padding-left: 47px;
  }

  .hero__section {
    padding-top: 104px;
    padding-left: 40px;  
  }

  .gallery__img {
    width: calc(100% - 40px);
    height: auto;
  }

  .button__container {
    width: calc(100% - 40px);
  }

  .contacts__block {
    width: calc(100% - 40px);
  }
}

@media (max-width: 460px) {
  .price__container {
    padding: 0 20px;
  }
}

