:root {
  --padding: 40px;

  --font: 20px;
  --text-color: #ffffff;
  --text-active-color: #bdae82;

  --background-color: #000000;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/InterVariableFont.ttf");
}

* {
  box-sizing: border-box;
}

.page {
  font-family: "Inter", sans-serif;
  font-size: var(--font);
  color: var(--text-color);

  background-color: var(--background-color);
}

.container {
  width: calc(100% - 40px);
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

.header__container,
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.logo {
  width: 50px;
  height: 50px;

  fill: var(--text-color);

  transition: 0.7s;

  cursor: pointer;
}

.logo:hover {
  fill: var(--text-active-color);
} 

.logo_active {
  fill: var(--text-active-color);
}

.logo_active:hover {
  fill: var(--text-color);
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.nav__item {
  margin-right: 40px;

  transition: 0.7s;
  cursor: pointer;
}

.nav__item:hover,
.github:hover {
  color: var(--text-active-color);
} 

.nav__item:last-child {
  margin-right: 0;
}

.nav__item_active {
  color: var(--text-active-color);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 160px);

  background-image: url("../assets/img/forest.jpg");
  background-size: cover;
}

.play {
  background-color: transparent;
  border: none;

  outline: none;
}

.play__icon {
  width: 160px;
  height: 160px;

  fill: var(--text-active-color);

  transition: 0.7s;
}

.play__icon:hover {
  filter: drop-shadow(7px 7px 5px var(--text-active-color));
  fill: #887b56;
  cursor: pointer;
}

.author {
  display: flex;
  gap: 20px;
}

.github {
  color: inherit;
  text-decoration: none;

  transition: 0.7s;
}

.rss__logo {
  display: block;
  width: 135px;
  height: 50px;
}

